.close {
  display: flex;
  background-color: #f6f8fa;
  justify-content: space-evenly;
  width: 50%;
  margin: 30px auto;
  padding-inline-start: 0px;
  border: 1px solid #f6f8fa;
  border-radius: 50px;
}

.bar {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  border: none;
  background-color: transparent;
  color: #021227;
}

.nav-items {
  display: flex;
  text-decoration: none;
  padding: 10px 20px;
  color: #959da8;
  font-size: 18px;
  border-top: 2px solid transparent;
  transition: all 200ms ease-in-out;
}
.nav-items:hover {
  border-top: 2px solid #2ecc71;
  padding: 10px 20px;
  color: #031937;
  font-size: 18px;
}

li {
  list-style-type: none;
}

@media (max-width: 768px) {
  .open {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 50%;
    margin: 30px auto;
    padding-top: 100px;
    padding-inline-start: 0px;
    border: none;
    border-radius: 0;
  }

  .nav-items: {
    color: #24292f;
  }

  .close {
    display: none !important;
  }

  .bar {
    display: block;
  }
}
