.about {
  background-color: #24292f;
  padding: 120px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.profile-image {
  margin: 0 40px;
  width: 20%;
}
.about-me {
  width: 50%;
  text-align: left;
}

.about-me > h2 {
  color: #fff;
}

.about-me > p {
  line-height: 30px;
}
