.about {
  background: linear-gradient(
    135deg,
    rgba(2, 18, 39, 1) 0%,
    rgba(3, 25, 55, 1) 100%
  );
  padding: 120px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.image-container {
  margin: 0 40px;
}
.about-me {
  width: 50%;
  text-align: left;
}

.about-me > h2 {
  color: #fff;
}

.about-me > p {
  line-height: 30px;
}

@media (max-width: 768px) {
  .about {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .image-container {
    object-fit: cover;
  }
  .about-me {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}
