.footer {
  background-color: #24292f;
  display: flex;
  justify-content: center;
  height: 400px;
  padding: 0 40px;
}

.footer-title {
  color: #fff;
  text-align: left;
  font-size: 40px;
  align-self: center;
  width: 30%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 80px;
  width: 30%;
}

.contact-icon {
  display: flex;
  align-items: center;
}

.contact-icon > a {
  text-decoration: none;
  color: #959da8;
}
