.skills {
  background-color: #24292f;
  padding: 40px 20px;
}

.skills-title {
  color: #fff;
  font-style: bold;
  font-size: 40px;
  padding: 20px;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-flow: row wrap;
}

.skills-sub {
  color: #fff;
  font-style: bold;
  margin: 10px;
  padding: 10px;
}
.skills-left {
  text-align: right;
  margin: 0 20px;
  width: 30%;
}

.skills-right {
  text-align: left;
  margin: 0 20px;
  width: 30%;
}
