.testimonials {
  height: 500px;
  padding: 40px 20px;
}

.test-title {
  color: #24292f;
  font-style: bold;
  font-size: 40px;
  padding-top: 20px;
}

.test-container {
  display: flex;
  margin: 60px 20px;
  justify-content: center;
  align-items: center;
}

.test-container > p {
  line-height: 30px;
  width: 60%;
  margin: 40px 80px;
}

.test-container > img {
  size: 20px;
  position: relative;
}

.quote {
  margin-top: 40px;
}
