.work {
  padding: 40px 20px;
}

.title {
  color: #24292f;
  font-style: bold;
  font-size: 40px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  flex-flow: row wrap;
}

.box1 {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f8fa;
  width: 400px;
  height: 240px;
  margin: 30px 5px;
  border: 1px solid #f6f8fa;
  border-radius: 30px;
}

.box2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f8fa;
  width: 500px;
  height: 300px;
  margin: 30px 5px;
  border: 1px solid #f6f8fa;
  border-radius: 30px;
}
